<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.glidenote.circleci</string>
	<key>connections</key>
	<dict>
		<key>22875700-E997-4A54-AE20-41988AE2236F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91FD599F-B5DB-4501-9F47-BAAEFF05C30B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2A751056-87B7-4408-90D6-B868021760CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8B736F9-82D2-41BC-A0B2-6DC86FA58954</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>57506429-6AEA-44A4-B4EF-9CF1EBBF4163</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8B736F9-82D2-41BC-A0B2-6DC86FA58954</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>91FD599F-B5DB-4501-9F47-BAAEFF05C30B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>382EDD9E-4221-4175-8B26-74215957B60B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B87B2176-C117-4A8A-9A1A-940FD6E1038E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>248FAD2D-FEC2-4AC5-A73B-D83244E35882</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Akira Maeda</string>
	<key>description</key>
	<string>Open CircleCI Project Page</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CircleCI Projects Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cisettoken</string>
				<key>subtext</key>
				<string>Set CircleCI Token</string>
				<key>text</key>
				<string>Set CircleCI Token</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B87B2176-C117-4A8A-9A1A-940FD6E1038E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open https://circleci.com/account/api
open -a TextEdit config.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>248FAD2D-FEC2-4AC5-A73B-D83244E35882</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>CircleCI Projects Workflow</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>382EDD9E-4221-4175-8B26-74215957B60B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ruby update_cache.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>91FD599F-B5DB-4501-9F47-BAAEFF05C30B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ciu</string>
				<key>subtext</key>
				<string>Run this to fetch latest changes from your CircleCI account</string>
				<key>text</key>
				<string>Update CIrcleci Projects Cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22875700-E997-4A54-AE20-41988AE2236F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B8B736F9-82D2-41BC-A0B2-6DC86FA58954</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ci</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Finding projects...</string>
				<key>script</key>
				<string>ruby project_search.rb {query}</string>
				<key>subtext</key>
				<string>Start typing a projects name...</string>
				<key>title</key>
				<string>Open CircleCI Projects Page</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2A751056-87B7-4408-90D6-B868021760CE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cis</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Checking Project CI Status...</string>
				<key>script</key>
				<string>ruby master_status.rb {query}</string>
				<key>subtext</key>
				<string>Start typing a projects name...</string>
				<key>title</key>
				<string>CircleCI Master Blanch Build Status</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>57506429-6AEA-44A4-B4EF-9CF1EBBF4163</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>22875700-E997-4A54-AE20-41988AE2236F</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>248FAD2D-FEC2-4AC5-A73B-D83244E35882</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>2A751056-87B7-4408-90D6-B868021760CE</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>382EDD9E-4221-4175-8B26-74215957B60B</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>57506429-6AEA-44A4-B4EF-9CF1EBBF4163</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>91FD599F-B5DB-4501-9F47-BAAEFF05C30B</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>B87B2176-C117-4A8A-9A1A-940FD6E1038E</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>B8B736F9-82D2-41BC-A0B2-6DC86FA58954</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/glidenote/alfred-circleci-projects-workflow</string>
</dict>
</plist>
